<a href="https://colab.research.google.com/github/tdmpni/coursera_capstone1/blob/main/Coursera_Capstone1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Import necessary libraries
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

## Scraping the data

In [3]:
# Scrape wikipedia for Toronto Neighbourhhods
url_wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url_wiki)
#Identify the correct table on the page
df_list[0].head()
# Define and clean the correct table
df_toronto = pd.DataFrame(data = df_list[0])
df_toronto = df_toronto[df_toronto.Borough != 'Not assigned']
df_toronto.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
#shape
df_toronto.shape

(103, 3)

## Linking Longitude and Latitude
_API did not return necessary values so using the spreadsheet method_

In [5]:
#read the CSV
csv_url = 'https://cocl.us/Geospatial_data'
csv_codes = pd.read_csv(csv_url)
csv_codes.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Combining the two data sources

In [6]:
df_to = pd.merge(df_toronto,csv_codes,how='left',on="Postal Code")
df_to.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [7]:
print('There are {} boroughs and {} neighborhoods in Toronto.'.format(
        len(df_to['Borough'].unique()),
        df_toronto.shape[0]
    )
)

There are 10 boroughs and 103 neighborhoods in Toronto.